@{
    ViewBag.Title = "Home Page";
}
<div>
    <h1>Home page</h1>
    <p>Bacon ipsum dolor amet short loin tri-tip strip steak andouille turkey hamburger kielbasa corned beef sausage filet mignon beef ribs shoulder sirloin capicola. Biltong porchetta capicola hamburger cupim. Cupim landjaeger jerky ribeye spare ribs. Andouille beef pork chop sausage, shoulder corned beef pig salami kevin rump.</p>
</div>